# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.eggs/
**/*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Editor: VSCode
.vscode/
*.code-workspace
.env

# Mypy
.mypy_cache/

# Versioning
benchit/_version.py
